.action-bar {
    background-color: #fff;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
}

.action-bar button {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 12px;
}

.action-bar span {
    color: #37BD37;
    font-weight: bold;
}

.action-bar button .ic {
    font-size: 20px;
}

textarea {
    resize: none;
}

/*-----------tableau----------------*/
div.produits-list {
    width: 100%;
    overflow: auto;
    position: relative;
}

table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    margin-top: 25px;

    border: 2px solid #37bd37;
}

td,
th {
    padding: 0.25em;
    font-size: 12px;
}

thead {
    border-bottom: 2px solid #37bd37;
    width: 100%;
}

thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
}

thead th:first-child {
    left: 0;
    z-index: 9;
    background-color: #fff;
}

tbody th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
    text-align: center;
}

tr:hover,
tr:hover th {
    cursor: pointer;
    background-color: #f0fff0;
}





/*---------modal------------*/
.divide-bar {
    height: 4px;
    width: 100%;
    background-color: #37bd37;
    margin-bottom: 25px;
}

.modal h3 {
    color: #37bd37;
    font-size: 18px;

}

button {
    outline: none;
    cursor: pointer;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

button:hover,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input#file-upload-button {
    background-color: #000;
}

.form-control {
    padding: 8px 15px;
    height: auto;
}

.submit-btn {
    background-color: #37BD37;
    color: #fff;
    padding: 8px 15px;
}

.modal-body {
    padding: 25px;
}


/*-----------PHONE------------------*/
@media screen and (max-width:768px) {

    body {
        overflow-y: scroll;
    }

    .produits {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .prod-card {
        width: 45%;
        background-color: #fff;
        box-shadow: 0 3px 6px #00000038;
        margin-right: 0;
        margin-top: 25px;
        cursor: pointer;
    }
}
